.page.about {
	h3 {
		font-size: 4.167vw;
		color: $greyDarkCorp;
		line-height: 4.583vw;
		font-weight: 700;
		margin: 0;
		@media #{$mobileQuery} {
			font-size: 5.376vw;
			line-height: 5.914vw;
		}
	}
	.section-2-card {
		width: 100%;
		padding: 5.208vw;
		display: flex;
		align-items: center;
		background-color: #fff;
		gap: 7.656vw;
		@media #{$mobileQuery} {
			width: calc(100% + 5.376vw);
			margin-left: -5.376vw;
			padding: 16.129vw 5.376vw;
			flex-direction: column;
			gap: 10.753vw;
		}
		.text-wrap {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 2.604vw;
			@media #{$mobileQuery} {
				gap: 10.753vw;
			}
		}
		img {
			width: 43.594vw;
			@media #{$mobileQuery} {
				width: 100%;
			}
		}
	}
	.section-3-wrap {
		width: 100%;
		display: flex;
		.img-wrap {
			width: 45.313vw;
			height: 100%;
			flex-shrink: 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media #{$mobileQuery} {
				display: none;
			}
		}
		.text-wrap {
			width: 100%;
			background-color: $greyDarkCorp;
			padding-top: 6.875vw;
			padding-bottom: 5.208vw;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5.208vw;
			color: #fff;
			img {
				width: 21.979vw;
				@media #{$mobileQuery} {
					width: 32.258vw;
				}
			}
			@media #{$mobileQuery} {
				gap: 16.129vw;
			}
			.details {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 2.083vw;
				@media #{$mobileQuery} {
					gap: 8.065vw;
				}
				&-detail {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 2.083vw;
					padding-bottom: 2.083vw;
					border-bottom: 1px solid #dfdfdf;
					@media #{$mobileQuery} {
						gap: 8.065vw;
						padding-bottom: 8.065vw;
					}
					&:last-child {
						border-bottom: 0 solid transparent;
					}
					.title {
						font-weight: 700;
						font-size: 1.354vw;
						@media #{$mobileQuery} {
							font-weight: 500;
							font-size: 5.376vw;
						}
					}
				}
			}
			p {
				color: #fff;
				max-width: 34.375vw;
				margin-bottom: 5.208vw;
				@media #{$mobileQuery} {
					max-width: 100%;
					margin-bottom: 8.065vw;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.section.officers {
		padding-top: 5.208vw;
		padding-bottom: 5.208vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media #{$mobileQuery} {
			padding-top: 16.129vw;
			padding-bottom: 16.129vw;
		}
		.section-title {
			margin-left: 5.208vw;
			width: auto;
			@media #{$mobileQuery} {
				margin-left: 0;
			}
		}
		.officers-wrap {
			width: 100%;
			display: flex;
			margin-top: 7.813vw;
			@media #{$mobileQuery} {
				margin-top: 16.129vw;
			}
			.control {
				width: 1.25vw;
				height: 100%;
				display: flex;
				cursor: pointer;
				align-items: center;
				position: absolute;
				top: 0;
				right: 100%;
				display: none;
				@media #{$mobileQuery} {
					display: none;
				}
				img {
					width: 100%;
				}
				&.officers-next-button {
					right: auto;
					left: 100%;
					img {
						transform: scaleX(-1);
					}
				}
			}
			.officers-container {
				width: 100%;
				overflow: hidden;
			}
			.officer {
				display: flex;
				justify-content: center;
			}

			.item {
				display: flex;
				align-items: center;
				flex-direction: column;
				flex-shrink: 0;
				> img {
					width: 14.271vw;
					object-fit: cover;
					height: 14.271vw;
					border-radius: 50%;
					margin-bottom: 2.448vw;
					@media #{$mobileQuery} {
						width: 53.763vw;
						height: 53.763vw;
						margin-bottom: 8.065vw;
					}
				}
				.name,
				.job-title {
					font-weight: 700;
					color: $greyDarkCorp;
					font-size: 1.146vw;
					margin-bottom: 1.563vw;

					@media #{$mobileQuery} {
						font-size: 4.839vw;
						line-height: 5.914vw;
						margin-bottom: 5.376vw;
					}
				}
				.job-title {
					font-weight: 500;
					text-align: center;
					max-width: 20.833vw;
					line-height: 1.719vw;
					margin-bottom: 0.729vw;
					@media #{$mobileQuery} {
						font-size: 3.763vw;
						line-height: 5.645vw;
						max-width: 83.871vw;
						margin-bottom: 8.065vw;
					}
				}
				.btn {
					margin-top: 2.292vw;
					padding: 0;
					@media #{$mobileQuery} {
						margin-top: 0;
						display: none;
					}
				}
			}
		}
	}
	.section.structure {
		gap: 3.125vw;
		@media #{$mobileQuery} {
			gap: 16.129vw;
			background-color: $greyDarkCorp;
			padding-top: 16.129vw;
			padding-bottom: 16.129vw;
		}

		.section-title {
			margin-left: 5.208vw;
			@media #{$mobileQuery} {
				margin-left: 0;
			}
		}
		.structure-wrap {
			width: 100%;
			display: flex;
			img {
				width: 100%;
				@media #{$mobileQuery} {
					display: none;
					&.mobile-only {
						display: block;
					}
				}
			}
		}
	}
	.section.for-investors {
		margin-top: 5.208vw;
		gap: 3.125vw;
		@media #{$mobileQuery} {
			margin-top: 26.882vw;
			gap: 16.129vw;
		}
		.section-title {
			margin-left: 5.208vw;
			@media #{$mobileQuery} {
				margin-left: 0;
			}
		}
		.columns {
			display: flex;
			width: 100%;
			gap: 3.333vw;
			align-items: flex-start;
			@media #{$mobileQuery} {
				margin-left: 0;
				flex-direction: column;
				gap: 13.333vw;
			}
			.column {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				height: auto;
				&-head {
					display: flex;
					height: auto;
					flex-shrink: 0;
					width: 100%;
					padding: 1.302vw 1.042vw;
					background-color: $greyDarkCorp;
					color: #fff;
					justify-content: center;
					border-radius: 0.417vw 0.417vw 0 0;
					@media #{$mobileQuery} {
						padding: 5.376vw;
						border-radius: 2.151vw 2.151vw 0 0;
					}
					&-title {
						font-size: 1.146vw;
						font-weight: 700;
						@media #{$mobileQuery} {
							font-size: 3.763vw;
						}
					}
					&-open-btn {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 1.667vw;
						height: 1.667vw;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 1.042vw;
						cursor: pointer;
						img {
							width: 100%;
							height: 100%;
						}
						@media #{$mobileQuery} {
							display: none;
						}
					}
				}
				&-body {
					width: 100%;
					height: 4.688vw;
					display: flex;
					padding: 1.458vw 1.042vw;
					border-radius: 0 0 0.417vw 0.417vw;
					background-color: #fff;
					transition: all 0.2s linear;
					@media #{$mobileQuery} {
						border-radius: 0 0 2.151vw 2.151vw;
						height: 24.194vw;
						padding: 7.527vw 5.376vw;
					}
					.files {
						height: 100%;
						width: 100%;
						display: flex;
						flex-direction: column;
						overflow-x: hidden;
						overflow-y: hidden;

						@media #{$mobileQuery} {
							@include scrollbars(1.613vw, 2.688vw, #bcbcbc);
						}
						.file {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding: 0.521vw 0.26vw;
							border-bottom: 1px solid #c4c4c4;
							@media #{$mobileQuery} {
								padding: 2.688vw 1.344vw;
							}
							&:first-child {
								padding-top: 0;
							}
							&:last-child {
								padding-bottom: 0;
								border-bottom: transparent;
							}
							span {
								color: $greyDarkCorp;
								font-weight: 500;
								font-size: 0.833vw;
								@media #{$mobileQuery} {
									font-size: 3.226vw;
								}
							}
							a {
								width: 1.042vw;
								@media #{$mobileQuery} {
									width: 3.763vw;
								}
								img {
									width: 100%;
								}
							}
						}
					}
				}
				.toggle-btn {
					width: 1.667vw;
					height: 1.667vw;
					cursor: pointer;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 50%);
					transition: all 0.3s linear;
					img {
						width: 100%;
					}
					@media #{$mobileQuery} {
						width: 6.989vw;
						height: 6.989vw;
					}
				}
				&.expanded {
					.column-head {
						&-open-btn {
							display: none;
						}
					}
					.column-body {
						height: 8.958vw;
						@media #{$mobileQuery} {
							height: 46.237vw;
						}
						.files {
							overflow-y: auto;
							padding-right: 0.26vw;
							@media #{$mobileQuery} {
								padding-right: 1.344vw;
							}
						}
					}
					.toggle-btn {
						transform: translate(-50%, 50%) rotate(180deg);
					}
				}
			}
		}
	}
	.section.shares {
		margin: 6.042vw 0 0 0;
		gap: 5.208vw;
		@media #{$mobileQuery} {
			margin: 19.624vw 0 0 0;
			gap: 16.129vw;
			background-color: #fff;
			padding: 16.129vw 5.376vw;
		}
		> .section-title {
			margin-left: 5.208vw;
			@media #{$mobileQuery} {
				margin-left: 0;
			}
		}
		.shares-section-container {
			background-color: #fff;
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 5.208vw;
			@media #{$mobileQuery} {
				padding: 2.688vw 0;
			}
			.header {
				display: flex;
				gap: 8.333vw;
				color: $greyDarkCorp;
				@media #{$mobileQuery} {
					gap: 10.753vw;
					flex-direction: column;
				}
				.title {
					font-weight: 700;
					font-size: 1.354vw;
					line-height: 1.719vw;
					max-width: 30vw;
					@media #{$mobileQuery} {
						font-weight: 500;
						font-size: 4.839vw;
						line-height: 6.183vw;
						max-width: 100%;
					}
				}
				p {
					max-width: 32.604vw;
					margin: 0;
					font-size: 0.938vw;
					line-height: 1.406vw;
					@media #{$mobileQuery} {
						font-size: 3.763vw;
						line-height: 5.645vw;
						max-width: 100%;
					}
				}
			}
			.numbers {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 5.208vw;
				margin: 5.208vw 0 0 0;
				@media #{$mobileQuery} {
					margin: 16.129vw 0 0 0;
					gap: 16.129vw;
				}
				.row {
					display: flex;
					width: 100%;
					justify-content: flex-end;
					@media #{$mobileQuery} {
						justify-content: flex-start;
					}
					&:nth-child(2n) {
						justify-content: flex-start;
					}
					.column {
						display: flex;
						flex-direction: column;
						align-items: stretch;
						@media #{$mobileQuery} {
							display: none;
						}
						.top {
							color: #fff;
							@include textoutline(#d2d2d2);
							display: flex;
							align-items: flex-end;
							justify-content: center;
							padding-bottom: 2.083vw;
							border-bottom: 1px solid #dadada;
							@media #{$mobileQuery} {
								padding-bottom: 5.376vw;
								border-bottom: 0;
							}
							.value {
								font-weight: 300;
								font-size: 10.417vw;
								@media #{$mobileQuery} {
									font-size: 21.505vw;
								}
							}
							.label {
								font-size: 3.125vw;
								@media #{$mobileQuery} {
									font-size: 5.376vw;
								}
							}
						}
						.bottom {
							padding-top: 1.563vw;
							font-weight: 500;
							font-size: 2.188vw;
							color: $greyDarkCorp;
							padding-left: 1.042vw;
							@media #{$mobileQuery} {
								padding-left: 0;
								padding-top: 0;
								font-size: 4.301vw;
								line-height: 5.108vw;
							}
							span {
								opacity: 0;
							}
						}
						&.active {
							@media #{$mobileQuery} {
								display: flex;
							}
							.top {
								@include textoutline(transparent);
								color: $green;
								@media #{$mobileQuery} {
									display: flex;
								}
							}
							.bottom {
								span {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			.plants {
				width: 100%;
				margin-top: 7.813vw;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5.208vw;
				@media #{$mobileQuery} {
					margin-top: 26.882vw;
				}
				.list {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 2.083vw;
					@media #{$mobileQuery} {
						gap: 8.065vw;
					}
					.item {
						width: 100%;
						display: flex;
						flex-direction: column;
						padding-bottom: 2.083vw;
						border-bottom: 1px solid #dfdfdf;
						gap: 3.125vw;
						@media #{$mobileQuery} {
							gap: 8.065vw;
						}
						.title {
							font-size: 1.667vw;
							font-weight: 600;
							@media #{$mobileQuery} {
								font-size: 6.452vw;
								font-weight: 400;
							}
						}
						.contact-details {
							display: flex;
							align-items: flex-start;
							gap: 4.167vw;
							@media #{$mobileQuery} {
								gap: 5.376vw;
								flex-direction: column;
							}
							.detail {
								display: flex;
								flex-direction: column;
								gap: 1.563vw;
								@media #{$mobileQuery} {
									gap: 4.839vw;
								}
								.label {
									color: $green;
									font-size: 1.146vw;
									font-weight: 600;
									@media #{$mobileQuery} {
										font-weight: 600;
										font-size: 3.763vw;
									}
								}
								p {
									margin: 0;
									font-size: 1.042vw;
									font-weight: 500;
									line-height: 1.25vw;
									max-width: 19.375vw;
									@media #{$mobileQuery} {
										font-size: 3.763vw;
										line-height: 4.57vw;
										max-width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.section.partners {
		margin: 5.208vw 0 0 0;
		@media #{$mobileQuery} {
			margin: 26.882vw 0 0 0;
		}
		.section-title {
			margin-left: 13.542vw;
			@media #{$mobileQuery} {
				margin-left: 5.376vw;
			}
		}
	}
	.section.bottom-form {
		margin-top: 5.208vw;
		@media #{$mobileQuery} {
			margin-top: 16.129vw;
		}
	}
}
