.page.career {
	.section.content {
		padding-top: 100px;
		padding-bottom: 100px;
		gap: 100px;
		color: $greyDarkCorp;
		background-color: #fff;
		@media #{$mobileQuery} {
			padding-top: 16.129vw;
			padding-bottom: 16.129vw;
			gap: 16.129vw;
		}
		.opening-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 60px;
			@media #{$mobileQuery} {
				gap: 16.129vw;
			}
			.plant-title {
				font-weight: 600;
				font-size: 32px;
				line-height: 42px;
				@media #{$mobileQuery} {
					font-weight: 500;
					font-size: 6.989vw;
					line-height: 9.14vw;
				}
			}
			.contacts {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 30px;
				@media #{$mobileQuery} {
					gap: 8.065vw;
				}
				.label {
					font-weight: 600;
					font-size: 22px;
					line-height: 33px;
					@media #{$mobileQuery} {
						font-weight: 600;
						font-size: 4.839vw;
						line-height: 7.258vw;
					}
				}
				.list {
					width: 100%;
					display: flex;
					gap: 120px;
					@media #{$mobileQuery} {
						flex-direction: column;
						gap: 5.376vw;
					}
					.item {
						font-size: 20px;
						line-height: 24px;
						font-weight: 400;
						@media #{$mobileQuery} {
							font-size: 3.763vw;
							line-height: 4.57vw;
						}
					}
				}
			}
			.vacancies {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 30px;
				@media #{$mobileQuery} {
					gap: 5.376vw;
					flex-wrap: nowrap;
					flex-direction: column;
				}
				.item {
					background: $greyLighter;
					width: calc(33.333333% - 30px * 2 / 3);
					height: 171px;
					padding: 40px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					border-radius: 8px;
					@media #{$mobileQuery} {
						width: 100%;
						height: 31.183vw;
						padding: 8.065vw 5.376vw;
						border-radius: 2.151vw;
					}
					.icon {
						max-width: 70px;
						max-height: 70px;
						position: absolute;
						right: 40px;
						bottom: 30px;
						@media #{$mobileQuery} {
							max-width: 16.129vw;
							max-height: 16.129vw;
							right: 5.376vw;
							bottom: 5.376vw;
						}
					}
					h4 {
						line-height: 26px;
						@media #{$mobileQuery} {
							font-size: 4.839vw;
							line-height: 5.914vw;
						}
					}
					.btn {
						padding: 0;
					}
				}
			}
			.no-vacancy-wrapper {
				width: 100%;
				padding-bottom: 100px;
				border-bottom: 1px solid #dfdfdf;
				@media #{$mobileQuery} {
					padding-bottom: 16.129vw;
				}
				.wrapper {
					width: 100%;
					display: flex;
					background-color: $greyLighter;
					height: 171px;
					border-radius: 8px;
					overflow: hidden;
					@media #{$mobileQuery} {
						height: 43.011vw;
						border-radius: 2.151vw;
					}
					.side {
						width: 100%;
						height: 171px;
						display: flex;
						@media #{$mobileQuery} {
							height: 43.011vw;
							overflow: hidden;
						}
						&.info {
							padding: 40px;
							flex-direction: column;
							justify-content: space-between;
							align-items: flex-start;
							@media #{$mobileQuery} {
								padding: 8.065vw 5.376vw;
							}
							h4 {
								line-height: 26px;
								@media #{$mobileQuery} {
									font-size: 4.839vw;
									line-height: 5.914vw;
								}
							}
							.btn {
								padding: 0;
							}
						}
						&.img {
							width: 952px;
							overflow: hidden;
							flex-shrink: 0;
							@media #{$mobileQuery} {
								position: absolute;
								width: 35vw;
								height: 35vw;
								right: 0;
								bottom: 0;
								transform: translate(40%, 40%);
								border-radius: 50%;
							}
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}
			}
			&:last-child {
				.no-vacancy-wrapper {
					padding-bottom: 0;
					border-color: transparent;
					border-width: 0;
				}
			}
		}
	}
}
