body {
	font-family: 'Inter', sans-serif;
}
.App {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: $greyLighter;
	width: 100%;
	// overflow: hidden;
	* {
		box-sizing: border-box;
		position: relative;
		line-height: 1;
	}

	a {
		text-decoration: none;
	}

	button {
		border: transparent;
	}

	h1 {
		font-size: 4.167vw;
		line-height: 5.417vw;
		font-weight: 700;
		margin: 0;
	}
	h2 {
		font-size: 2.188vw;
		line-height: 2.865vw;
		margin: 0;
		font-weight: 500;
	}
	h3 {
		font-size: 1.458vw;
		font-weight: 700;
		margin: 0;
		line-height: 1.771vw;
	}
	h4 {
		font-size: 1.146vw;
		line-height: 1;
		margin: 0;
		font-weight: 700;
	}

	.text-modal-menu {
		font-weight: 600;
		font-size: 2.396vw;
		margin: 0;
		line-height: 3.594vw;
	}
	.text-max {
		font-weight: 500;
		font-size: 1.146vw;
		margin: 0;
		line-height: 1.719vw;
	}

	.text-medium {
		font-weight: 600;
		font-size: 0.938vw;
		margin: 0;
		line-height: 1.146vw;
	}
	.text-usual,
	p {
		font-size: 0.938vw;
		margin: 0;
		line-height: 1.406vw;
		@media #{$mobileQuery} {
			font-size: 3.763vw;
			line-height: 5.645vw;
		}
	}

	.text-mini {
		font-size: 0.729vw;
		margin: 0;
		line-height: 1.094vw;
		@media #{$mobileQuery} {
			font-size: 3.763vw;
			margin: 0;
			line-height: 5.645vw;
		}
	}

	.green-text {
		color: $green;
	}

	.text-600 {
		font-weight: 600;
	}

	.nav-link {
		display: flex;
		align-items: center;
		gap: 0.833vw;
		@media #{$mobileQuery} {
			gap: 4.265vw;
		}
		img {
			width: 0.677vw;
			@media #{$mobileQuery} {
				width: 3.466vw;
			}
		}
		span {
			color: #2b2b2a;
			font-weight: 600;
			font-size: 0.938vw;
			@media #{$mobileQuery} {
				font-size: 4.803vw;
			}
		}
	}

	.btn {
		display: flex;
		align-items: center;
		gap: 0.833vw;
		border-radius: 1000px;
		padding: 1.042vw 1.354vw;
		width: auto;
		cursor: pointer;
		@media #{$mobileQuery} {
			gap: 2.688vw;
			padding: 4.032vw 5.376vw;
		}
		img {
			width: 1.042vw;
			@media #{$mobileQuery} {
				width: 5.376vw;
			}
		}
		span {
			font-weight: 700;
			font-size: 0.938vw;
			@media #{$mobileQuery} {
				font-size: 3.763vw;
			}
		}
		&.primary {
			color: #fff;
			background-color: $green;
			&.disabled {
				background-color: $grey;
			}
		}
		&.secondary,
		&.subtle {
			background-color: transparent;
			color: $green;
			border: 1px solid $green;
			&.disabled {
				color: $grey;
				border-color: $grey;
			}
		}
		&.subtle {
			border-color: transparent;
			&.disabled {
				border-color: transparent;
			}
		}
		&.rnd {
			width: 3.854vw;
			height: 3.854vw;
			padding: 0.26vw;
			border-radius: 50%;
			@media #{$mobileQuery} {
				width: 16.129vw;
				height: 16.129vw;
				padding: 1.344vw;
			}
			.icn-wrap {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				img {
					width: 30%;
					@media #{$mobileQuery} {
						width: 2.688vw;
					}
				}
			}
			&.primary {
				background-color: transparent;
				border: 0.104vw solid $green;
				&.disabled {
					border-color: $grey;
				}
				.icn-wrap {
					background-color: $green;
				}
			}
		}
	}

	.common-hero {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 20.156vw;
		@media #{$mobileQuery} {
			height: 58.602vw;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		h1 {
			color: #fff;
			margin: 0;
			padding: 0;
			font-size: 4.167vw;
			font-weight: 700;
			@media #{$mobileQuery} {
				font-size: 6.989vw;
				line-height: 9.14vw;
			}
		}
	}

	.lang-bar {
		display: flex;
		align-items: center;
		gap: 0.26vw;
		&-lang {
			cursor: pointer;
			color: #000;
			font-size: 0.938vw;
			font-weight: 400;
			text-transform: capitalize;
			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0.104vw;
				top: calc(100% + 0.417vw);
				left: 0;
				opacity: 0;
				transition: all 0.3s linear;
				background-color: $green;
			}
			&.current {
				color: $green;
				font-weight: 600;
				&::after {
					width: 100%;
					opacity: 1;
				}
			}
		}
	}

	.m-t-n {
		margin-top: -4.427vw;
		@media #{$mobileQuery} {
			margin-top: 0;
		}
	}

	.page {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.p-left {
		padding-left: 8.333vw;
		@media #{$mobileQuery} {
			padding-left: 5.376vw;
		}
	}

	.p-right {
		padding-right: 8.333vw;
		@media #{$mobileQuery} {
			padding-right: 5.376vw;
		}
	}

	section,
	.section {
		width: 100%;
		display: flex;
		&.section-column {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.section-title {
		border-radius: 0 20.006px 0 20.006px;
		color: #fff;
		font-size: 1.146vw;
		font-weight: 700;
		padding: 0.521vw 1.042vw;
		background-color: $green;
		@media #{$mobileQuery} {
			padding: 2.688vw 4.032vw;
			font-size: 3.763vw;
		}
	}

	.section.partners {
		gap: 5.208vw;
		margin-bottom: 5.208vw;
		@media #{$mobileQuery} {
			gap: 8.065vw;
			margin-bottom: 26.882vw;
		}
		.section-title {
			margin-left: 8.333vw;
			@media #{$mobileQuery} {
				margin-left: 5.376vw;
			}
		}
		.list-wrap {
			display: flex;
			overflow: hidden;
			width: 100%;
			.list-part {
				display: flex;
				width: auto;
				flex-shrink: 0;
				animation-name: partnersInfiniteScroll;
				animation-duration: 30s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				// &.delay{
				// 	// transform: translateX(-100%);
				// 	animation-name: partnersInfiniteScroll;
				// 	animation-delay: 15s;
				// }
				.item {
					width: 16.667vw;
					height: 8.333vw;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 0.104vw solid #fff;
					@media #{$mobileQuery} {
						width: 86.022vw;
						height: 43.011vw;
						border-color: transparent;
					}
					img {
						max-width: 5.208vw;
						max-height: 3.438vw;
						@media #{$mobileQuery} {
							max-width: 26.882vw;
							max-height: 17.742vw;
						}
					}
				}
			}
		}
	}
	.text-block {
		width: 100%;
		display: flex;
		@media #{$mobileQuery} {
			flex-direction: column;
			gap: 8.065vw;
		}
		.side {
			width: 100%;
			@media #{$mobileQuery} {
				h3 {
					font-weight: 500;
					font-size: 5.376vw;
					line-height: 6.989vw;
				}
			}
			p,
			.text-usual {
				white-space: pre-wrap;
			}
		}
	}

	.gallery-component {
		display: flex;
		width: 100%;
		.control {
			display: flex;
			width: 11.458vw;
			flex-shrink: 0;
			justify-content: flex-start;
			align-items: center;
			@media #{$mobileQuery} {
				display: none;
			}
			img {
				width: 1.25vw;
				@media #{$mobileQuery} {
					width: 2.667vw;
				}
			}
			&.next {
				justify-content: flex-end;
				img {
					transform: scaleX(-1);
				}
			}
		}
		.gallery-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			gap: 0.521vw;
			@media #{$mobileQuery} {
				gap: 3.2vw;
			}
			.main-container {
				width: 100%;
				height: 27.083vw;
				@media #{$mobileQuery} {
					height: 55.733vw;
				}
				.main {
					height: 100%;
				}
				.item {
					width: 100%;
					height: 100%;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.thumbs-container {
				width: 100%;
				// display: flex;
				height: 6.563vw;
				@media #{$mobileQuery} {
					height: 12.267vw;
				}
				.thumbs {
					height: 100%;
				}
				.swiper-slide {
					opacity: 0.7;
				}
				.swiper-slide-thumb-active {
					opacity: 1;
				}
				.item {
					width: 100%;
					height: 100%;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.products-gallery-component {
		width: 100%;
		&-container {
			width: 100%;
		}
		.item-wrapper {
			width: auto;
			height: auto;
			background-color: $greyDarkCorp;
			&:nth-child(2n) {
				background-color: #3c3c3c;
			}
			.item {
				width: 71.667vw;
				display: flex;
				height: 100%;
				gap: 3.125vw;
				@media #{$mobileQuery} {
					width: 100vw;
					flex-direction: column-reverse;
					gap: 11.559vw;
					align-self: flex-start;
					justify-self: flex-start;
					padding-top: 16.129vw;
					justify-content: flex-end;
				}
				.side {
					height: 100%;
					width: 100%;
					@media #{$mobileQuery} {
						height: auto;
					}
					&.text {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						padding: 11.875vw 0 5.208vw 8.333vw;
						color: #fff;
						justify-content: space-between;
						gap: 3.906vw;
						@media #{$mobileQuery} {
							padding: 5.376vw 5.376vw 16.129vw;
							gap: 8.065vw;
						}
						.info-container {
							display: flex;
							flex-direction: column;
							gap: 1.563vw;
							@media #{$mobileQuery} {
								gap: 8.065vw;
							}
							.info {
								display: flex;
								flex-direction: column;
								gap: 0.833vw;
								@media #{$mobileQuery} {
									gap: 4.839vw;
								}
							}
							.label {
								@media #{$mobileQuery} {
									font-size: 3.226vw;
									line-height: 150%;
								}
							}
							h2 {
								margin-bottom: 0.521vw;
								max-width: 19.271vw;
								@media #{$mobileQuery} {
									font-weight: 500;
									font-size: 6.452vw;
									line-height: 8.333vw;
									max-width: 100%;
									/* or 31px */
								}
							}
						}

						p {
							color: #fff;
						}
					}
					&.img {
						width: 30.521vw;
						flex-shrink: 0;
						padding: 2.604vw;
						padding-left: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						@media #{$mobileQuery} {
							width: 100%;
							padding: 0 10.753vw;
							flex-shrink: 1;
							height: auto;
						}
						img {
							width: 100%;
						}
					}
				}
			}
		}
		.controls {
			display: flex;
			align-items: center;
			gap: 2.604vw;
			position: absolute;
			top: 5vw;
			right: 8.333vw;
			z-index: 100000;
			@media #{$mobileQuery} {
				display: none;
			}
			.control {
				width: 1.25vw;
				cursor: pointer;
				&.next {
					transform: scaleX(-1);
				}
				img {
					width: 100%;
				}
			}
		}
	}

	.pre-wrap-text {
		white-space: pre-wrap;
	}

	.section.go-back {
		margin: 5.208vw 0;
		.btn {
			img {
				transform: scaleX(-1);
			}
		}
	}

	.text-container-wrapper {
		width: 100%;
		// padding: 40px 100px;
		flex-direction: column;
		display: flex;
		justify-content: center;
		gap: 3.125vw;
		color: $greyDarkCorp;
		@media #{$mobileQuery} {
			gap: 8.065vw;
		}
		.text-row {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 3.125vw;
			@media #{$mobileQuery} {
				gap: 8.065vw;
			}
			.row-title {
				font-weight: 600;
				font-size: 1.667vw;
				@media #{$mobileQuery} {
					font-weight: 500;
					font-size: 6.452vw;
					line-height: 8.333vw;
				}
			}
			.row-content {
				width: 100%;
				display: flex;
				gap: 3.125vw;
				@media #{$mobileQuery} {
					flex-direction: column;
					gap: 5.376vw;
				}

				&.vertical {
					flex-direction: column;
					gap: 2.083vw;
					@media #{$mobileQuery} {
						flex-direction: column;
						gap: 5.376vw;
					}
				}
				.column {
					width: 15.625vw;
					display: flex;
					flex-direction: column;
					gap: 1.563vw;
					@media #{$mobileQuery} {
						width: 100%;
						gap: 4.839vw;
					}
					&:first-child {
						width: 20.521vw;
						@media #{$mobileQuery} {
							width: 100%;
						}
					}
					&:last-child {
						width: auto;
					}
					.label {
						font-weight: 600;
						font-size: 1.146vw;
						color: $green;
						@media #{$mobileQuery} {
							font-size: 3.763vw;
							line-height: 4.57vw;
						}
					}
					.value {
						font-weight: 500;
						font-size: 1.042vw;
						line-height: 1.25vw;
						@media #{$mobileQuery} {
							font-size: 3.763vw;
							font-weight: 400;
							line-height: 4.57vw;
						}
					}
				}
			}
		}
	}
	.bottom-form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		img.bg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		.container {
			width: 100%;
			padding: 6.979vw 16.146vw;
			display: flex;
			align-items: center;
			gap: 6.771vw;
			@media #{$mobileQuery} {
				flex-direction: column;
				padding: 26.075vw 5.376vw;
				gap: 24.194vw;
			}
			.side {
				width: 100%;
				display: flex;
				flex-direction: column;
				&.text {
					gap: 3.125vw;
					@media #{$mobileQuery} {
						gap: 6.72vw;
					}
					.title {
						font-weight: 600;
						font-size: 2.604vw;
						line-height: 3.385vw;
						letter-spacing: 0.02em;
						@media #{$mobileQuery} {
							font-weight: 700;
							font-size: 5.914vw;
							line-height: 7.796vw;
						}
					}
					.desc {
						font-size: 1.563vw;
						line-height: 1.875vw;
						letter-spacing: 0.02em;
						@media #{$mobileQuery} {
							font-size: 4.839vw;
							line-height: 7.258vw;
						}
					}
				}
				&.form {
					form {
						width: 100%;
						display: flex;
						flex-direction: column;
						gap: 2.083vw;
						@media #{$mobileQuery} {
							flex-direction: column;
							gap: 8.065vw;
						}
						.form-control {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							width: 100%;
							gap: 0.729vw;
							@media #{$mobileQuery} {
								gap: 4.301vw;
							}
							&.btn-container {
								flex-direction: row;
								gap: 1.042vw;
								align-items: center;
								@media #{$mobileQuery} {
									gap: 3.763vw;
								}
							}
							label {
								font-weight: 500;
								font-size: 1.146vw;
								@media #{$mobileQuery} {
									font-size: 3.763vw;
									line-height: 4.032vw;
								}
							}
							input {
								padding: 1.042vw;
								width: 100%;
								background-color: transparent;
								border: 0px solid transparent;
								border-bottom: 1px solid #fff;
								color: #fff;
								font-size: 0.938vw;
								@media #{$mobileQuery} {
									font-size: 3.763vw;
									line-height: 5.645vw;
									padding: 3.763vw;
								}
								&::placeholder {
									color: #b9b9b9;
								}
								&:focus {
									outline: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.section.news-flow-component {
		gap: 2.813vw;
		@media #{$mobileQuery} {
			gap: 14.516vw;
			padding-right: 5.376vw;
		}
		.header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.controls {
				display: flex;
				align-items: center;
				gap: 2.604vw;
				@media #{$mobileQuery} {
					display: none;
				}
				.control {
					width: 1.25vw;
					cursor: pointer;

					img {
						width: 100%;
					}
					&.next {
						transform: scaleX(-1);
					}
				}
			}
		}
		.container {
			width: 100%;
			display: flex;
			.item-wrapper {
				width: auto;
			}
			.item {
				width: 26.042vw;
				display: flex;
				flex-direction: column;
				color: $greyDarkCorp;
				height: 100%;
				height: auto;
				@media #{$mobileQuery} {
					width: calc(100vw - 10.753vw);
				}
				.date {
					font-weight: 500;
					font-size: 0.833vw;
					margin: 0 0 1.563vw 0;
					@media #{$mobileQuery} {
						font-weight: 500;
						font-size: 3 763vw;
						line-height: 5.645vw;
						margin: 0 0 8.065vw 0;
						/* or 21px */
					}
				}
				h4 {
					line-height: 1.406vw;
					margin: 0 0 auto 0;
					@media #{$mobileQuery} {
						font-weight: 600;
						font-size: 4.839vw;
						line-height: 5.914vw;
					}
				}

				> img {
					margin: 1.563vw 0 0 0;
					width: 100%;
					height: 14.583vw;
					object-fit: cover;
					@media #{$mobileQuery} {
						height: 50.538vw;
						margin: 8.065vw 0 0 0;
					}
				}
				p {
					margin: 1.563vw 0;
					@media #{$mobileQuery} {
						margin: 8.065vw 0;
					}
				}
				.btn {
					padding: 0;
				}
			}
		}
		.go-to-all-container {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
	.mobile-only {
		display: none;
		@media #{$mobileQuery} {
			display: flex;
		}
	}
}

@keyframes partnersInfiniteScroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
