.page.contact {
	.section.content {
		@media #{$mobileQuery} {
			padding: 0;
		}
		.container {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			background-color: transparent;
			padding: 0;
			gap: 5.208vw;
			margin-top: -3.646vw;
			margin-bottom: 5.208vw;
			@media #{$mobileQuery} {
				gap: 16.129vw;
				margin-top: 0;
				margin-bottom: 16.129vw;
			}
			.block {
				width: 100%;
				display: flex;
				@media #{$mobileQuery} {
					flex-direction: column;
					padding-right: 5.376vw;
				}
				&.b-white {
					background-color: #fff;
				}
				.text-container-wrapper-parent {
					padding: 2.083vw 5.208vw;
					display: flex;
					width: 100%;
					@media #{$mobileQuery} {
						flex-direction: column;
						padding: 16.129vw 5.376vw;
					}
				}
				.img-container {
					flex-shrink: 0;
					&.first {
						width: 27.083vw;
						min-height: 34.375vw;
						@media #{$mobileQuery} {
							width: 100%;
							min-height: 114.247vw;
						}
					}
					&.second {
						width: 50vw;
						min-height: 36.458vw;
						@media #{$mobileQuery} {
							width: 100%;
							min-height: auto;
						}
					}
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&.plants {
					padding-left: 5.208vw;
					@media #{$mobileQuery} {
						padding-left: 5.376vw;
					}
					.text-container-wrapper {
						.text-row {
							.row-content {
								.column {
									&:nth-child(2) {
										.value {
											max-width: 12.5vw;
											@media #{$mobileQuery} {
												max-width: 100%;
											}
										}
									}
									&:last-child {
										.value {
											max-width: 20.833vw;
											@media #{$mobileQuery} {
												max-width: 100%;
											}
										}
									}
								}
							}
						}
					}
				}
				&.hr {
					.text-container-wrapper-parent {
						flex-direction: column;
						justify-content: center;
						padding-right: 9.115vw;
						@media #{$mobileQuery} {
							// padding-right: ;
							padding-right: 5.376vw;
						}
						.call-me {
							margin-top: 1.458vw;
							padding-top: 1.458vw;
							border-top: 1px solid #dfdfdf;
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
							@media #{$mobileQuery} {
								flex-direction: column;
								justify-content: flex-start;
								align-items: flex-start;
								margin-top: 10.753vw;
								padding-top: 0;
								gap: 8.065vw;
								border-color: transparent;
							}
							.label {
								font-weight: 700;
								font-size: 1.042vw;
								line-height: 1.25vw;
								color: $greyDarkCorp;
								@media #{$mobileQuery} {
									font-weight: 600;
									font-size: 4.839vw;
									line-height: 5.914vw;
								}
							}
						}
					}
				}
			}
			.section-title {
				margin-left: 5.208vw;
				@media #{$mobileQuery} {
					margin-left: 5.376vw;
				}
			}
		}
	}
}
