.page.development {
	.section.content {
		@media #{$mobileQuery} {
			padding-left: 0;
		}
		.container {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			background-color: #fff;
			padding: 5.208vw 13.542vw 7.813vw 5.208vw;
			margin-top: -3.646vw;
			margin-bottom: 0;
			@media #{$mobileQuery} {
				margin-top: 0;
				padding: 16.129vw 5.376vw;
			}
			.container-header {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 3.125vw;
				padding-bottom: 3.125vw;
				border-bottom: 1px solid #dfdfdf;
				@media #{$mobileQuery} {
					gap: 10.753vw;
					padding-bottom: 0;
					border-color: transparent;
				}
				.company-title {
					font-weight: 700;
					font-size: 4.167vw;
					line-height: 4.583vw;
					@media #{$mobileQuery} {
						font-size: 6.989vw;
						line-height: 7.796vw;
					}
				}
			}
			.development-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				padding-top: 4.167vw;
				padding-bottom: 4.167vw;
				border-bottom: 1px solid #dfdfdf;
				@media #{$mobileQuery} {
					padding-top: 8.065vw;
					padding-bottom: 8.065vw;
				}
				&:last-child,
				&.active {
					border-bottom: transparent;
				}
				&:last-child {
					padding-bottom: 0;
				}
				&.active {
					padding-bottom: 3.646vw;
					@media #{$mobileQuery} {
						padding-bottom: 10.753vw;
					}
				}
				.wrapper-header {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					@media #{$mobileQuery} {
						h2 {
							font-weight: 500;
							font-size: 5.376vw;
							line-height: 6.989vw;
						}
					}
					.toggle-button {
						cursor: pointer;
						width: 1.667vw;
						@media #{$mobileQuery} {
							width: 5.914vw;
						}
						img {
							width: 100%;
						}
					}
				}
				.wrapper-body {
					display: flex;
					width: 100%;
					overflow: hidden;
					transition: all 1s linear;
				}
			}
			.wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 3.125vw;
				position: absolute;
				top: 0;
				left: 0;
				padding-top: 5.208vw;
				@media #{$mobileQuery} {
					padding-top: 8.065vw;
				}
				.text-block {
					padding-bottom: 3.125vw;
					border-bottom: 1px solid #dfdfdf;
					@media #{$mobileQuery} {
						padding-bottom: 8.065vw;
					}
					&:last-child {
						border-bottom: transparent;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
