.section.section-footer {
	width: 100%;
	padding-top: 2.083vw;
	padding-bottom: 1.354vw;
	background-color: $greyDarkCorp;
	gap: 2.083vw;
	@media #{$mobileQuery} {
		padding-top: 16.129vw;
		padding-bottom: 5.376vw;
		gap: 8vw;
	}
	.footer-bg-img {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
	}
	.footer-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.logo {
			width: 6.875vw;
			@media #{$mobileQuery} {
				width: 35.484vw;
			}
			img {
				width: 100%;
			}
		}
		.social-links {
			display: flex;
			align-items: center;
			gap: 1.042vw;
			@media #{$mobileQuery} {
				flex-direction: column;
				gap: 5.376vw;
			}
			img {
				max-width: 0.938vw;
				max-height: 0.938vw;
				@media #{$mobileQuery} {
					max-width: 4.301vw;
					max-height: 4.301vw;
				}
			}
		}
	}
	.links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 1.563vw;
		@media #{$mobileQuery} {
			flex-direction: column;
			gap: 8.065vw;
		}
		.link-group {
			display: flex;
			flex-direction: column;
			max-width: 10.417vw;
			gap: 0.833vw;
			color: #fff;
			@media #{$mobileQuery} {
				max-width: 100%;
				gap: 5.376vw;
			}
			a,
			.text-menu {
				&:active,
				&:visited,
				&:focus {
					color: #fff;
				}
			}
			.text-menu {
				margin-bottom: 0.208vw;
				@media #{$mobileQuery} {
					margin-bottom: 0;
					font-weight: 600;
					font-size: 4.301vw;
					line-height: 5.108vw;
				}
			}
			.text-mini,
			.text-mini:visited,
			.text-mini:focus {
				color: #bababa;
			}
		}
	}
	.copy {
		width: 100%;
		padding: 1.354vw 1.042vw 0;
		border-top: 1px solid #7a7a7a;
		text-align: center;
		color: #fff;
		@media #{$mobileQuery} {
			padding: 5.376vw 1.042vw 0;
			font-size: 3.226vw;
		}
	}
}
