.page.home {
	padding-bottom: 7.813vw;
	@media #{$mobileQuery} {
		padding-bottom: 26.882vw;
	}
	.hero-section {
		width: 100%;
		display: flex;
		overflow: hidden;
		.slide {
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			.bg-img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				top: 0;
				left: 0;
			}
			.top-sec {
				display: flex;
				width: 100%;
				.title {
					display: flex;
					width: 100%;
					padding-top: 13.542vw;
					padding-bottom: 8.021vw;
					@media #{$mobileQuery} {
						padding-bottom: 0;
						padding-top: 67.473vw;
					}
					h1 {
						margin: 0;
						padding: 0;
						color: #fff;
						font-weight: 700;
						font-size: 4.167vw;
						line-height: 5.417vw;
						text-align: left;
						max-width: 45.25vw;
						@media #{$mobileQuery} {
							font-size: 8.602vw;
							line-height: 130%;
							max-width: 100%;
							/* or 42px */
						}
					}
				}
				.logo-holder {
					height: auto;
					display: flex;
					flex-shrink: 0;
					background-color: #fff;
					align-items: flex-end;
					padding-bottom: 2.813vw;
					padding-left: 3.542vw;
					@media #{$mobileQuery} {
						display: none;
					}
					img {
						width: 17.708vw;
					}
				}
			}
			.bottom-sec {
				width: 100%;
				display: flex;
				height: 13.542vw;
				@media #{$mobileQuery} {
					height: auto;
				}
				.left {
					width: 100%;
					display: flex;
					justify-content: space-between;
					padding-top: 3.125vw;
					padding-bottom: 3.125vw;
					padding-right: 3.125vw;
					align-items: center;
					@media #{$mobileQuery} {
						display: none;
					}
					.social-links {
						margin: auto auto 0 0;
						display: flex;
						align-items: center;
						gap: 1.042vw;
						&-link {
							img {
								max-width: 1.042vw;
								max-height: 1.042vw;
							}
						}
					}
					.slider {
						display: flex;
						align-items: center;
						gap: 2.604vw;
					}
				}
				.mid {
					background: #fff;
					flex-shrink: 0;
					width: 29.792vw;
					height: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 3.125vw;
					@media #{$mobileQuery} {
						display: none;
					}
					h3 {
						color: $greyDarkCorp;
						font-size: 1.146vw;
						line-height: 1.354vw;
						font-weight: 700;
						text-align: left;
						padding: 0 0 0.417vw 0;
						border-bottom: 0.156vw solid $greyDarkCorp;
						max-width: 11.458vw;
					}
				}
				.right {
					width: 29.583vw;
					flex-shrink: 0;
					display: flex;
					height: 100%;
					align-items: center;
					justify-content: flex-end;
					@media #{$mobileQuery} {
						width: 100%;
						padding: 16.129vw 5.376vw 18.817vw;
					}
				}
			}
		}
	}
	.mission-section {
		display: flex;
		background-color: $greyLight;
		align-items: center;
		@media #{$mobileQuery} {
			flex-direction: column;
		}
		.bg-pattern {
			position: absolute;
			left: 0;
			top: 8.333vw;
			width: 40vw;
			@media #{$mobileQuery} {
				top: 20.968vw;
				width: 70.387vw;
			}
		}
		.left {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-right: 4.688vw;
			height: 100%;
			gap: 3.125vw;
			@media #{$mobileQuery} {
				padding-right: 5.376vw;
				gap: 10.753vw;
				align-items: center;
				padding-top: 26.882vw;
			}
			.logo {
				width: 21.354vw;
				@media #{$mobileQuery} {
					width: 53.763vw;
				}
			}
			p {
				font-weight: 400;
				font-size: 0.938vw;
				line-height: 1.406vw;
				margin: 0;
				padding: 0;
				text-align: left;
				max-width: 43.229vw;
				@media #{$mobileQuery} {
					font-size: 3.763vw;
					line-height: 150%;
					text-align: center;
					max-width: 100%;
				}
			}
		}
		.right {
			flex-shrink: 0;
			width: 52.083vw;
			display: flex;
			align-items: center;
			height: 100%;
			padding: 15.625vw 0 11.302vw;
			overflow: hidden;
			@media #{$mobileQuery} {
				width: 100%;
				padding: 10.753vw 5.376vw;
			}
			img {
				width: 100%;
				display: none;
			}
			video {
				width: 100%;
			}
		}
	}
	.section.plants {
		padding: 7.813vw 0 0 0;
		background-color: #fff;
		gap: 5.208vw;
		@media #{$mobileQuery} {
			padding: 15.591vw 0 0 0;
			gap: 16.129vw;
		}
		.section-title {
			margin-left: 8.333vw;
			@media #{$mobileQuery} {
				margin-left: 5.376vw;
			}
		}
		.list {
			width: 100%;
			display: flex;
			flex-direction: column;
			.item {
				display: flex;
				width: 100%;
				height: 100%;
				flex-wrap: wrap;
				align-items: stretch;
				@media #{$mobileQuery} {
					height: auto;
					flex-wrap: nowrap;
					flex-direction: column-reverse;
					align-items: flex-start;
					padding: 8.065vw 0 0 0;
				}
				.details {
					width: 50%;
					height: 100%;
					padding: 2.083vw 5.208vw 2.083vw 8.333vw;
					gap: 2.083vw;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					color: $greyDarkCorp;
					@media #{$mobileQuery} {
						width: 100%;
						padding: 5.376vw 5.376vw 8.065vw 5.376vw;
						gap: 8.065vw;
					}
					.title {
						font-weight: 700;
						font-size: 1.354vw;
						@media #{$mobileQuery} {
							font-size: 6.452vw;
						}
					}
					.common-details {
						display: flex;
						flex-direction: column;
						gap: 1.563vw;
						@media #{$mobileQuery} {
							gap: 5.376vw;
						}
						.row {
							display: flex;
							flex-direction: column;
							gap: 0.833vw;
							@media #{$mobileQuery} {
								gap: 4.839vw;
							}
							.row-title {
								font-weight: 800;
								font-size: 0.729vw;
								@media #{$mobileQuery} {
									font-weight: 600;
									font-size: 3.763vw;
								}
							}
							p {
								margin: 0;
								font-weight: 500;
								font-size: 0.938vw;
								line-height: 1.146vw;
								max-width: 36.458vw;
								@media #{$mobileQuery} {
									max-width: 100%;
									font-weight: 400;
									font-size: 3.763vw;
									line-height: 4.57vw;
								}
							}
						}
					}
				}
				.img {
					width: 50%;
					display: flex;
					overflow: hidden;
					@media #{$mobileQuery} {
						width: 100%;
						height: 45.161vw;
					}
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&:nth-child(2n) {
					flex-direction: row-reverse;
					@media #{$mobileQuery} {
						flex-direction: column-reverse;
					}
					.details {
						padding-left: 5.208vw;
						@media #{$mobileQuery} {
							padding-left: 5.376vw;
						}
					}
				}
			}
		}
	}
	.section.partners {
		margin: 5.208vw 0 0 0;
	}
	.section.projects {
		margin: 5.208vw 0 0 0;
		gap: 3.125vw;
		@media #{$mobileQuery} {
			margin: 26.882vw 0 0 0;
		}
		.projects-container {
			width: 100%;
			display: flex;
			.main,
			.others {
				width: 50%;
				padding-top: 45%;
				overflow: hidden;
				.projects-container {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
				}
			}
			.others {
				.projects-container {
					flex-wrap: wrap;
					.item {
						width: 50%;
						height: 50%;
					}
				}
			}
			.project {
				width: 100%;
				height: 100%;
				.bg,
				.cover {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.cover {
					background-color: #000;
					opacity: 0.3;
				}
				.info {
					width: 100%;
					height: 100%;
					display: flex;
					position: absolute;
					top: 0;
					left: 0;
					flex-direction: column;
					color: #fff;
					padding: 2.083vw 3.125vw;
					p {
						color: #fff;
						margin: 0;
					}
					.title {
						font-weight: 700;
						font-size: 1.042vw;
						line-height: 1.25vw;
						margin: 1.354vw 0 auto;
					}
					.btn-container {
						margin: auto 0 0;
					}
					.btn {
						color: #fff;
						padding-left: 0;
					}
				}
			}
			.main {
				.project {
					.info {
						width: 50%;
						height: 50%;
						background-color: $green;
					}
				}
			}
		}
	}
	.section.news-flow-component {
		margin-top: 11.458vw;
		@media #{$mobileQuery} {
			margin-top: 16.129vw;
		}
	}
}
