nav.nav {
	width: 100%;
	display: flex;
	padding: 1.146vw 8.333vw;
	align-items: center;
	background-color: #fff;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		transition: all 0.3s linear;
		&.disappear {
			top: -6.25vw;
			@media #{$mobileQuery} {
				top: -32vw;
			}
		}
	}
	@media #{$mobileQuery} {
		padding: 5.376vw;
	}
	.container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		a.logo {
			width: 6.875vw;
			display: flex;
			@media #{$mobileQuery} {
				width: 32.258vw;
			}
			img {
				width: 100%;
			}
		}
		.nav-link {
			@media #{$mobileQuery} {
				display: none;
			}
		}
		.btn.primary {
			@media #{$mobileQuery} {
				display: none;
			}
		}
		.toggle-menu-btn {
			display: flex;
			cursor: pointer;
			width: 3.438vw;
			@media #{$mobileQuery} {
				width: 13.602vw;
			}
			&.open {
				width: 1.563vw;
				@media #{$mobileQuery} {
					width: 5.914vw;
				}
			}
			img {
				width: 100%;
			}
		}
	}
}
