.page.news-detailed {
	.section.content {
		.container {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			background-color: #fff;
			padding: 5.208vw 13.542vw 5.208vw 5.208vw;
			gap: 3.125vw;
			.date-container {
				width: 100%;
				display: flex;
				padding-bottom: 3.125vw;
				border-bottom: 1px solid #dfdfdf;
				span {
					font-weight: 500;
					font-size: 0.833vw;
				}
			}
			.hero-img {
				width: 100%;
			}

			.section-title.gallery-section-title {
				margin-top: 2.083vw;
			}
			.gallery-wrapper {
				display: flex;
				flex-direction: column;
				gap: 3.125vw;
				align-items: flex-start;
				margin-top: 4.688vw;
				width: 100%;
			}
		}
	}
}
