.page.news {
	.section.news-hero {
		background-color: #2a2a2a;
		.news-hero-container {
			width: 100%;
			display: flex;
			// border: 0.998px solid blue;
			padding: 3.125vw 0;
			@media #{$mobileQuery} {
				padding: 0 0;
			}
			.news-hero-list-wrapper {
				margin-left: calc(11.354vw / 2);
				@media #{$mobileQuery} {
					margin-left: 0;
				}
			}
			.news-hero-item-wrapper {
				width: auto;
				&:first-child {
					.news-hero-item {
						margin-left: calc(-11.354vw);
						@media #{$mobileQuery} {
							margin-left: 0;
						}
					}
				}
			}
			.news-hero-item {
				margin-top: 3.125vw;
				width: 48.698vw;
				height: 27.396vw;
				display: flex;
				@media #{$mobileQuery} {
					width: 100vw;
					height: 180.108vw;
					margin-top: 0;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.text {
					width: 100%;
					height: 100%;
					display: flex;
					position: absolute;
					top: 0;
					left: 0;
					align-items: flex-end;
					padding: 4.167vw 4.167vw 6.25vw;
					color: #fff;
					background: linear-gradient(
						180deg,
						rgba(18, 18, 18, 0) 0%,
						rgba(18, 18, 18, 0) 35.42%,
						rgba(18, 18, 18, 0.26) 51.56%,
						rgba(18, 18, 18, 0.4) 66.15%,
						rgba(18, 18, 18, 0.85) 100%
					);
					h3 {
						max-width: 36.458vw;
						@media #{$mobileQuery} {
							max-width: 100%;
						}
					}
					@media #{$mobileQuery} {
						padding: 8.065vw 5.376vw;
						h3 {
							font-size: 5.376vw;
							line-height: 6.989vw;
						}
					}
				}
			}
			.swiper-slide-active {
				.news-hero-item {
					width: 60.052vw;
					height: 33.646vw;
					margin-top: 0;
					@media #{$mobileQuery} {
						width: 100vw;
						height: 180.108vw;
						margin-top: 0;
					}
				}
			}
			.control {
				width: 1.25vw;
				cursor: pointer;
				top: 18.75vw;
				position: absolute;
				z-index: 1000;
				@media #{$mobileQuery} {
					display: none;
				}
				&.prev {
					left: 15.625vw;
				}
				&.next {
					right: 15.625vw;
					img {
						transform: scaleX(-1);
					}
				}
				img {
					width: 100%;
				}
			}
		}
		.news-hero-paginatino-container {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 3.125vw;
			align-items: center;
			@media #{$mobileQuery} {
				display: none;
			}
			.swiper-pagination-bullet {
				border: 1px solid #fff;
				background-color: transparent;
				width: 0.521vw;
				height: 0.521vw;
				opacity: 1;

				&.swiper-pagination-bullet-active {
					width: 0.938vw;
					height: 0.938vw;
					border: 1 solid transparent;
					&::after {
						content: '';
						width: 0.521vw;
						height: 0.521vw;
						background-color: #fff;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
					}
				}
			}
		}
	}
	.section.news-container {
		width: 100%;
		background-color: #fff;
		padding-top: 5.208vw;
		padding-bottom: 5.208vw;
		gap: 3.125vw;
		@media #{$mobileQuery} {
			padding-top: 16.129vw;
			padding-bottom: 26.882vw;
			gap: 16.129vw;
		}
		.news-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 4.167vw 2.604vw;
			align-items: stretch;
			@media #{$mobileQuery} {
				gap: 10.753vw;
				flex-wrap: nowrap;
				flex-direction: column;
			}
			.news-item {
				width: calc(33.3333% - 2.604vw * 2 / 3);
				display: flex;
				flex-direction: column;
				color: $greyDarkCorp;
				height: 100%;
				height: auto;
				@media #{$mobileQuery} {
					width: 100%;
				}
				.date {
					font-weight: 500;
					font-size: 0.833vw;
					margin: 0 0 1.563vw 0;
					@media #{$mobileQuery} {
						font-size: 3.763vw;
						margin: 0 0 8.065vw 0;
					}
				}
				h4 {
					line-height: 1.406vw;
					margin: 0 0 auto 0;
					@media #{$mobileQuery} {
						font-size: 4.839vw;
						line-height: 5.914vw;
						font-weight: 600;
					}
				}

				> img {
					margin: 1.563vw 0 0 0;
					height: 14.583vw;
					object-fit: cover;
					width: 100%;
					@media #{$mobileQuery} {
						margin: 8.065vw 0 0 0;
						height: 50.538vw;
					}
				}
				p {
					margin: 1.563vw 0;
					@media #{$mobileQuery} {
						margin: 8.065vw 0;
						font-size: 4.301vw;
						line-height: 6.452vw;
					}
				}
				.btn {
					padding: 0;
				}
			}
		}
		.pagination-container {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: flex-start;
			margin-top: 1.563vw;
			color: $greyDarkCorp;
			@media #{$mobileQuery} {
				margin-top: 8.065vw;
			}
			.pagination {
				width: auto;
				gap: 1.042vw;
				display: flex;
				align-items: center;
				font-size: 0.729vw;
				font-weight: 500;
				@media #{$mobileQuery} {
					font-size: 3.226vw;
					gap: 5.376vw;
					justify-content: space-between;
					width: 100%;
				}
				.page-nums {
					display: flex;
					align-items: center;
					gap: 1.042vw;
					@media #{$mobileQuery} {
						gap: 5.376vw;
					}
				}
				.control {
					cursor: pointer;
					> img {
						width: 0.625vw;
						@media #{$mobileQuery} {
							width: 3.226vw;
						}
					}
					&.active {
						color: $green;
					}
				}
			}
		}
	}
}
