.page.production {
	.section.main {
		background-color: #2a2a2a;
		.small-card-container {
			width: 100%;
			display: flex;
			justify-content: center;

			.small-card {
				display: flex;
				align-items: stretch;
				margin-top: -3.646vw;
				box-shadow: 0vw 0.417vw 0.625vw 0.208vw rgba(0, 0, 0, 0.25);
				@media #{$mobileQuery} {
					width: 100%;
					flex-direction: column;
					margin-top: -12.817vw;
					box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
				}
				.side {
					&.left {
						display: flex;
						flex-direction: column;
						flex-shrink: 0;
						background-color: $greyDarkCorp;
						@media #{$mobileQuery} {
							border-radius: 0 14.785vw 0 0;
							background-color: transparent;
						}
						.title {
							font-size: 2.188vw;
							color: #fff;
							font-weight: 500;
							background-color: $green;
							padding: 2.188vw 3.958vw;
							height: auto;
							flex-shrink: 0;
							@media #{$mobileQuery} {
								font-size: 5.914vw;
								padding: 8.065vw;
								border-radius: 0 14.785vw 0 14.785vw;
							}
						}
						.highlights {
							width: 100%;
							height: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							gap: 1.823vw;
							padding: 2.813vw 2.083vw;
							@media #{$mobileQuery} {
								display: none;
							}
							.item {
								display: flex;
								align-items: center;
								gap: 0.833vw;
								span.line {
									width: 1.563vw;
									height: 0.104vw;
									background-color: $green;
								}
								span.text {
									color: #fff;
									font-size: 0.938vw;
									font-weight: 600;
								}
							}
						}
					}
					&.right {
						display: flex;
						padding: 1.563vw 2.083vw;
						justify-content: center;
						align-items: center;
						background-color: #2a2a2a;
						@media #{$mobileQuery} {
							flex-direction: column;
							padding: 0;
							margin-top: 8.065vw;
						}
						img {
							height: 100%;
							max-width: 100%;
							object-fit: contain;
							@media #{$mobileQuery} {
								max-width: calc(100% - 10.753vw);
								width: 100%;
							}
						}
						.highlights.mobile-only {
							width: 100%;
							height: 100%;
							flex-direction: column;
							justify-content: center;
							gap: 8.065vw;
							padding: 0;
							margin-top: 8.065vw;
							.item {
								display: flex;
								align-items: center;
								gap: 4.301vw;
								span.line {
									width: 8.065vw;
									height: 0.052vw;
									background-color: $green;
								}
								span.text {
									color: #fff;
									font-weight: 600;
									font-size: 3.763vw;
								}
							}
						}
					}
				}
			}
		}
		.plants-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 5.208vw;
			@media #{$mobileQuery} {
				margin-top: 16.129vw;
				background-color: #2b2b2a;
			}
			.map-container {
				margin: 5.208vw 0 0 0;
				width: 100%;
				display: flex;
				justify-content: flex-end;
				@media #{$mobileQuery} {
					margin: 16.129vw 0 0 0;
				}
				.map-bg {
					width: 62.5vw;
					margin-bottom: 11.458vw;
					@media #{$mobileQuery} {
						display: none;
					}
				}
				.thumb-container {
					display: flex;
					flex-direction: column;
					position: absolute;
					bottom: 2.865vw;
					right: 0;
					width: 25vw;
					@media #{$mobileQuery} {
						display: none;
					}
					.thumb-img {
						width: 100%;
						height: 14.063vw;
						overflow: hidden;
						background-color: #fff;
						img {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							object-fit: cover;
							opacity: 0;
							transition: all 0.3s linear;
							&.active {
								opacity: 1;
							}
						}
					}
					.thumb-title {
						width: 100%;
						text-align: center;
						padding: 0.833vw 1.042vw;
						background-color: $green;
						color: #fff;
						font-weight: 700;
						font-size: 1.146vw;
					}
				}
				.points-container {
					width: 100%;
					height: 100%;
					display: flex;
					position: absolute;
					top: 0;
					left: 0;
					@media #{$mobileQuery} {
						display: none;
					}
					.point {
						width: auto;
						position: absolute;
						display: flex;
						flex-direction: column;
						align-items: center;
						// gap: 8.006px;
						transform: translate(50%, -50%);
						span {
							position: absolute;
							text-align: center;
							bottom: calc(100% + 0.417vw);
							left: 50%;
							transform: translateX(-50%);
							width: auto;
							font-weight: 600;
							text-shadow: 0vw 0.052vw 0.313vw rgba(0, 0, 0, 0.5);
							font-size: 0.938vw;
							color: #fff;
							// background: #343331;
							opacity: 1;
							transition: all 0.3s linear;
							text-align: center;
							min-width: 20.833vw;
						}
						.icon-container {
							cursor: pointer;
							width: 1.042vw;
							height: 1.042vw;
							border-radius: 50%;
							background-color: transparent;
							transition: all 0.3s linear;
							display: flex;
							justify-content: center;
							align-items: center;
							img {
								width: 1.042vw;
							}
						}
						&:hover {
							span {
								opacity: 1;
							}
						}
						&.active {
							span {
								display: none;
							}
							.icon-container {
								width: 3.438vw;
								height: 3.438vw;
								background-color: rgba($color: #009933, $alpha: 0.8);
								img {
									width: 1.823vw;
								}
							}
						}
					}
				}
			}
			.list {
				width: 31.875vw;
				display: flex;
				flex-direction: column;
				position: absolute;
				left: 0;
				top: 7.813vw;
				background-color: #4e4e4e;
				padding: 1.042vw 2.083vw;
				@media #{$mobileQuery} {
					position: relative;
					top: auto;
					left: auto;
					width: 100%;
					background-color: transparent;
					padding: 0;
				}
				.item {
					width: 100%;
					display: flex;
					flex-direction: column;
					border-bottom: 1px solid #eeeeee;
					padding: 1.719vw 0;
					@media #{$mobileQuery} {
						padding: 8.065vw 0;
					}
					&:last-child {
						border-bottom: transparent;
					}
					&-header {
						display: flex;
						align-items: center;
						width: 100%;
						.plant-icon {
							width: 1.042vw;
							margin: 0;
							flex-shrink: 0;
							@media #{$mobileQuery} {
								width: 4.301vw;
							}
						}
						span {
							width: 100%;
							font-size: 1.354vw;
							font-weight: 500;
							color: #fff;
							padding: 0 0.938vw;
							@media #{$mobileQuery} {
								font-size: 4.839vw;
								line-height: 6.183vw;
								padding: 0 4.301vw;
							}
						}
						.control-button {
							width: 1.667vw;
							cursor: pointer;
							@media #{$mobileQuery} {
								width: 5.914vw;
							}
						}
					}
					&-body {
						width: 100%;
						display: flex;
						overflow: hidden;
						transition: all 0.3s linear;
						&-container {
							width: 100%;
							display: flex;
							flex-direction: column;
							padding-top: 1.563vw;
							gap: 1.563vw;
							position: absolute;
							top: 0;
							left: 0;
							@media #{$mobileQuery} {
								padding-top: 8.065vw;
								gap: 5.376vw;
							}
							.detail {
								display: flex;
								flex-direction: column;
								gap: 0.833vw;
								font-size: 0.938vw;
								line-height: 1.406vw;
								color: #fff;
								@media #{$mobileQuery} {
									font-size: 3.763vw;
									line-height: 5.645vw;
								}
								.value {
									font-weight: 600;
									line-height: 1.103vw;
									@media #{$mobileQuery} {
										font-weight: 600;
										line-height: 5.645vw;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.section.text-section-one {
		margin: 7.813vw 0;
		align-items: center;
		gap: 5.208vw;
		@media #{$mobileQuery} {
			margin: 16.129vw 0;
			gap: 10.753vw;
			flex-direction: column;
		}
		.side {
			width: 100%;
			&.pattern-holder {
				width: 50.625vw;
				flex-shrink: 0;
				@media #{$mobileQuery} {
					width: 100%;
				}
				img {
					width: 100%;
					@media #{$mobileQuery} {
						position: absolute;
					}
				}
			}
			&.text-holder {
				display: flex;
				flex-direction: column;
				gap: 3.646vw;
				color: $greyDarkCorp;
				@media #{$mobileQuery} {
					gap: 10.753vw;
					padding: 0 5.376vw;
				}
				h3 {
					font-weight: 700;
					font-size: 3.125vw;
					line-height: 4.063vw;
					letter-spacing: 0.02em;
					@media #{$mobileQuery} {
						font-size: 5.376vw;
						line-height: 6.989vw;
					}
				}
				p {
					font-size: 0.938vw;
					line-height: 1.406vw;
					max-width: 32.292vw;
					@media #{$mobileQuery} {
						font-size: 3.763vw;
						line-height: 5.645vw;
						max-width: 100%;
					}
				}
			}
		}
	}
	.section.text-section-two {
		margin-bottom: 5.208vw;
		gap: 5.208vw;
		@media #{$mobileQuery} {
			margin-bottom: 16.129vw;
			gap: 16.129vw;
			padding: 0;
		}
		.section-title {
			@media #{$mobileQuery} {
				margin: 0 5.376vw;
			}
		}
		.section-container {
			display: flex;
			gap: 5.208vw;
			align-items: center;
			@media #{$mobileQuery} {
				gap: 16.129vw;
				flex-direction: column;
			}
			.side {
				width: 100%;
				&.text-holder {
					display: flex;
					flex-direction: column;
					color: $greyDarkCorp;
					gap: 2.083vw;
					@media #{$mobileQuery} {
						gap: 16.129vw;
						padding: 0 5.376vw;
						h2 {
							width: 100%;
							max-width: 100%;
							font-weight: 500;
							font-size: 5.376vw;
							line-height: 6.989vw;
							text-align: center;
						}
						p {
							display: none;
						}
					}
				}
				&.img-text-holder {
					width: 57.292vw;
					flex-shrink: 0;
					@media #{$mobileQuery} {
						width: 100%;
						flex-shrink: 1;
					}
					img {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						object-fit: cover;
					}
					.text-wrapper {
						width: 100%;
						height: 100%;
						display: flex;
						padding: 4.167vw;
						justify-content: center;
						gap: 2.083vw;
						color: #fff;
						flex-direction: column;
						@media #{$mobileQuery} {
							padding: 16.129vw 5.376vw;
						}
						h2 {
							max-width: 21.354vw;
							// text-align: center;
							@media #{$mobileQuery} {
								width: 100%;
								max-width: 100%;
								font-weight: 500;
								font-size: 5.376vw;
								line-height: 6.989vw;
								// text-align: center;
							}
						}
						p {
							max-width: 46.094vw;
							color: #fff;
							@media #{$mobileQuery} {
								max-width: 100%;
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
