.page.projects-detailed {
	.section.content {
		@media #{$mobileQuery} {
			padding-left: 0;
		}
		.container {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			background-color: #fff;
			padding: 5.208vw 13.542vw 5.208vw 5.208vw;
			gap: 3.125vw;
			@media #{$mobileQuery} {
				padding: 16vw 5.333vw;
				gap: 16vw;
			}
			.container-header {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.hero-img {
				width: 100%;
			}
			.section-title.gallery-section-title {
				margin-top: 2.083vw;
				@media #{$mobileQuery} {
					margin-top: 10.667vw;
				}
			}
			.gallery-wrapper {
				display: flex;
				width: 100%;
			}
		}
	}
}
