.page.production-detailed {
	.section.content {
		@media #{$mobileQuery} {
			padding-left: 0;
		}
		.container {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			background-color: #fff;
			padding: 5.208vw 13.542vw 5.208vw 5.208vw;
			gap: 3.125vw;
			@media #{$mobileQuery} {
				padding: 16vw 5.333vw;
				gap: 16vw;
			}
			h2 {
				@media #{$mobileQuery} {
					font-weight: 500;
					font-size: 6.933vw;
					line-height: 9.067vw;
				}
			}
			.hero-img {
				width: 100%;
			}
			.products-section {
				width: calc(100% + 13.542vw * 2);
				margin-left: -13.542vw;
				padding-left: 5.208vw;
				@media #{$mobileQuery} {
					margin-left: 0;
					padding-left: 0;
					width: 100%;
					width: calc(100% + 10.667vw);
					margin-left: -5.333vw;
				}
				.products-wrapper {
					width: 100%;
				}
			}
			.section-title.gallery-section-title {
				margin-top: 2.083vw;
				@media #{$mobileQuery} {
					margin-top: 10.667vw;
				}
			}
			.gallery-wrapper {
				display: flex;
				width: 100%;
			}
		}
	}
}
