.page.special-offer {
	.section.content {
		@media #{$mobileQuery} {
			padding: 0;
		}
		.container {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			background-color: #fff;
			padding: 5.208vw 13.542vw 5.208vw 5.208vw;
			gap: 7.813vw;
			margin-top: -3.646vw;
			margin-bottom: 5.208vw;
			@media #{$mobileQuery} {
				padding: 16.129vw 5.376vw 16.129vw 5.376vw;
				margin-top: 0;
				gap: 10.753vw;
			}
			.wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 3.125vw;
				@media #{$mobileQuery} {
					gap: 10.753vw;
				}
				h2 {
					margin-bottom: 2.083vw;
					@media #{$mobileQuery} {
						margin-bottom: 0;
						font-size: 6.989vw;
						line-height: 9.14vw;
					}
				}
				.text-block {
					padding-bottom: 3.125vw;
					border-bottom: 1px solid #dfdfdf;
					@media #{$mobileQuery} {
						padding-bottom: 8.065vw;
					}
					&:last-child {
						border-bottom: transparent;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}
